{% extends 'auth/wrapper.html' %}
{% load static %}
{% block content %}
        <link rel="stylesheet" type="text/css" href="{% static 'style/style.css' %}">
        <form action="{% url 'login' %}" method="post">{% csrf_token %}
             <div class="container">
                 <span id="head-txt">Deutsche Bank Technological Center Algorithm simulator</span>
                 <input type="hidden" name="next" value={% url 'index' %}>
                 <input id="login"  name="username" placeholder="E-mail" class="form" required>
                 <label for="password"></label>
                 <input id="password" name="password" placeholder="Пароль" type="password" required>
                 <input value="Войти" type="submit" id="btn-singin">
                 <span id="reg">Еще не зарегестрированны? <a href="{% url 'register' %}">Регистрация</a></span>
             </div>
        </form>

        <span id="E-mail_hint">E-mail</span>
        <span id="Password_hint">Пароль</span>
        <img class="btn-eye" id="btn-show" type ="checkbox" src="{% static 'image/show.png' %}" alt="cl-eye">
        <img class="btn-eye" id="btn-notshow" type ="checkbox" src="{% static 'image/notshow.png' %}" alt="eye-nt">
{% endblock %}
