{% extends 'auth/wrapper.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'style/regstyle.css' %}">
        <form action="{% url 'register' %}" method="post">{% csrf_token %}
             <div class="container">
                 <span id="head-txt">Deutsche Bank Technological Center Algorithm simulator</span>
                 <input id="login" name="email" type="text" placeholder="Ваш логин/e-mail" class="form" required>
                 <input id="password" name="password1" placeholder="Пароль"  type="password" required>
                 <input id="copypassword" name="password2" placeholder="Повторите пароль"  type="password" required>
                 <input value="Зарегистрироваться"  name="button_subm" type="submit" id="btn-singup">
                 <span id="reg">Уже зарегестрированны? <a href="{% url 'login' %}">Авторизация</a></span>
             </div>
        </form>
        <span id="E-mail_hint">Ваш логин/e-mail</span>
        <span id="Password_hint">Пароль</span>
        <span id="Copypassword_hint">Повторите пароль</span>
        <img class="btn-eye" id="btn-show" type ="checkbox" src="{% static 'image/show.png' %}">
        <img class="btn-eye" id="btn-notshow" type ="checkbox" src="{% static 'image/notshow.png' %}">
        <img class="btn-eye-copy" id="btn-show-copy" type ="checkbox" src="{% static 'image/show.png' %}">
        <img class="btn-eye-copy" id="btn-notshow-copy" type ="checkbox" src="{% static 'image/notshow.png' %}">
{% endblock %}
