{% extends 'ui/wrapper.html' %}
{% load static %}
{% block content %}
            <div class="sidebar">
                <div class="logo">
                    <svg version="1.1" id="db-logo" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                        viewBox="0 0 70 70" style="enable-background:new 0 0 70 70;" xml:space="preserve">
                        <g>
                            <path class="st0" d="M0,0v70h70V0H0z M60,60H10V10h50V60z"/>
                            <polygon class="st0" points="54,16 42,16 16,52 28,52 	"/>
                        </g>
                    </svg>
                </div>
                <div class="files-list">
                    {% for file in list %}
                    <div class="item{% if file.id == algo.id %} selected{% endif %}">
                        <svg>
                            <use xlink:href="#file" />
                        </svg>
                        <a id="name{{ file.id }}" href="{% url 'index' %}?id={{ file.id }}">{{ file.filename }}</a>
                    </div>
                    {% endfor %}
                    <div id="algo-new" class="item btn-new">
                        <form id="fnew" action="{% url 'algo-create' %}" method="POST" style="visibility: hidden;">{% csrf_token %}</form>
                        <svg id="btn-new" viewBox="0 0 100 125"><path d="M50,1.7C23.3,1.7,1.7,23.3,1.7,50c0,26.7,21.6,48.3,48.3,48.3S98.3,76.7,98.3,50C98.3,23.3,76.7,1.7,50,1.7z   M73.9,52.8H52.1v21.8c0,1.5-1.2,2.7-2.7,2.7s-2.7-1.2-2.7-2.7V52.8H25c-1.5,0-2.7-1.2-2.7-2.7c0-1.5,1.2-2.7,2.7-2.7h21.8V25.6  c0-1.5,1.2-2.7,2.7-2.7s2.7,1.2,2.7,2.7v21.8h21.8c1.5,0,2.7,1.2,2.7,2.7C76.6,51.6,75.4,52.8,73.9,52.8z"/></svg>
                        <span>
                            Create New
                        </span>
                    </div>
                </div>
                <div class="account-info">
                    <span class="email">{{ user }}</span>
                    <span class="logout-btn">
                        <svg viewBox="0 0 32 40" id="logout-icon"><path d="M18,28H5a1,1,0,0,1-1-1V5A1,1,0,0,1,5,4H18a1,1,0,0,0,0-2H5A3,3,0,0,0,2,5V27a3,3,0,0,0,3,3H18a1,1,0,0,0,0-2Z"/><path d="M29.71,15.29l-7-7a1,1,0,0,0-1.41,1.41L26.59,15H10a1,1,0,0,0,0,2h16.6l-5.29,5.29a1,1,0,1,0,1.41,1.41l7-7A1,1,0,0,0,29.71,15.29Z"/></svg>
                        <a href="{% url 'logout' %}">Log Out</a>
                    </span>
                </div>
            </div>
            <div class="main">
                <form id="fremove" action="{% url 'algo-remove' %}" method="POST" style="visibility: hidden;">{% csrf_token %}<input type="hidden" name="id" value="{{ algo.id }}"></form>
                <div class="title">
                    <input id="name-input" class="title-input" value="{{ algo.filename }}" onclick="selectText()" />
                    {% if user.is_active %}
                    <span id="algo-run" class="run-btn">
                        <svg id="run-btn-icon" viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 0h48v48H0z" fill="none"/>
                            <path d="M24 4C12.95 4 4 12.95 4 24s8.95 20 20 20 20-8.95 20-20S35.05 4 24 4zm-4 29V15l12 9-12 9z"/>
                        </svg>
                        <span>RUN</span>
                    </span>
                    {% endif %}
                    <span id="algo-remove" class="delete-btn">
                        <svg id="delete-btn-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="0 0 100 100">
                            <path d="M91.3,15.1H69.3v-4.8c0-3.4-3.1-5.9-7-5.9H37.6c-3.9,0-7,2.6-7,5.9v4.8H8.7c-2.2,0-3.9,1.7-3.9,3.9s1.7,3.9,3.9,3.9h4.8  l4.8,60.1c0.1,7.1,5.8,12.8,12.9,12.8h37.5c7.1,0,12.8-5.7,12.9-12.8l4.9-60h4.8c2.2,0,3.9-1.7,3.9-3.9S93.5,15.1,91.3,15.1z   M38.4,12.1h23.2v3H38.4V12.1z M39.9,74.9h-0.1c-2.1,0-3.7-1.7-3.9-3.7l-1.4-31.5c-0.1-2.2,1.5-4,3.7-4h0.1c2.1,0,3.7,1.7,3.9,3.7  l1.4,31.5C43.7,73,42.1,74.8,39.9,74.9z M64.1,71.1c-0.1,2.1-1.8,3.7-3.9,3.7h-0.1c-2.2-0.1-3.7-1.9-3.7-4l1.4-31.5  c0.1-2.1,1.8-3.7,3.9-3.7h0.1c2.2,0.1,3.7,1.9,3.7,4L64.1,71.1z"/>
                        </svg>
                        <span>DELETE</span>
                    </span>
                </div>
                <div class="code-area-container"><div id="editor" style="display: none;">{{ algo.text }}</div></div>
                <div class="output-container">
                    <div id="output" class="output">
                        {% if algo.status %}{{ algo.status }}{% endif %}
                    </div>
                    <div class="score-container">
                        <span>You gained</span>
                        <span id="metrics" class="scores"></span>
                    </div>
                </div>
            </div>

        {% if 0 %}
        <svg>
            <symbol width="24px" height="24px" viewbox="0 0 24 24" id="file">
                <path fill="#000000" d="M78.9962,16.3577c-1.9779-1.9833-4.7433-3.219-7.766-3.2174H32.7934L17.7865,28.1491v47.7235  c-0.0018,3.0236,1.234,5.7889,3.2155,7.766c1.9797,1.9842,4.745,3.219,7.7694,3.2181h42.4589  c3.0227,0.0009,5.788-1.234,7.766-3.2181c1.9815-1.977,3.219-4.7415,3.2172-7.766V24.1244  C82.2152,21.101,80.9777,18.3356,78.9962,16.3577z M35.3501,19.8296v4.904c0,2.8123-2.2891,5.0998-5.0996,5.0998h-4.9033  L35.3501,19.8296z M76.0449,75.8726c0,1.3384-0.5336,2.5229-1.4096,3.405c-0.883,0.876-2.0666,1.4096-3.405,1.4114H28.7713  c-1.3418-0.0018-2.5254-0.5354-3.4048-1.4105c-0.8761-0.883-1.4096-2.0675-1.4114-3.4059V35.7499h7.3801  c5.1587,0,9.3406-4.181,9.3406-9.3417V19.309h30.5545c1.3384,0.0009,2.522,0.5345,3.405,1.4112  c0.876,0.8796,1.4096,2.065,1.4096,3.4041V75.8726z"/>
            </symbol>
        </svg>
        {% endif %}

        <svg display="none">
            <symbol width="24px" height="24px" viewBox="0 0 100 124.99625" id="file">
                <path d="M78.9962,16.3577c-1.9779-1.9833-4.7433-3.219-7.766-3.2174H32.7934L17.7865,28.1491v47.7235  c-0.0018,3.0236,1.234,5.7889,3.2155,7.766c1.9797,1.9842,4.745,3.219,7.7694,3.2181h42.4589  c3.0227,0.0009,5.788-1.234,7.766-3.2181c1.9815-1.977,3.219-4.7415,3.2172-7.766V24.1244  C82.2152,21.101,80.9777,18.3356,78.9962,16.3577z M35.3501,19.8296v4.904c0,2.8123-2.2891,5.0998-5.0996,5.0998h-4.9033  L35.3501,19.8296z M76.0449,75.8726c0,1.3384-0.5336,2.5229-1.4096,3.405c-0.883,0.876-2.0666,1.4096-3.405,1.4114H28.7713  c-1.3418-0.0018-2.5254-0.5354-3.4048-1.4105c-0.8761-0.883-1.4096-2.0675-1.4114-3.4059V35.7499h7.3801  c5.1587,0,9.3406-4.181,9.3406-9.3417V19.309h30.5545c1.3384,0.0009,2.522,0.5345,3.405,1.4112  c0.876,0.8796,1.4096,2.065,1.4096,3.4041V75.8726z"/>
            </symbol>
        </svg>

    <script src="{% static 'ace/ace.js' %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static 'md5.js' %}" type="text/javascript"></script>
    <script src="{% static 'base.js' %}" type="text/javascript"></script>
<script>
    function selectText() {
        const input = document.getElementById('name-input');
        input.focus();
        input.select();
    }
    function round(num) {
        return Math.round((num + 0.0001) * 100) / 100;
    }

    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/monokai");
    editor.session.setMode("ace/mode/java");
    editor.session.setUseSoftTabs(true);

    var _RUN = {
        id: "{{ algo.run_id }}",
        status: "{{ algo.status }}",
        metrics: round(Number({{ algo.metrics|default:0 }}))
    };
    var _UPDATE = null;

    $(function() {
        $('#editor').fadeIn("slow");
        $('#metrics').text(_RUN.metrics);

        var initMD5 = MD5(editor.getValue());

        function is_changed() {
            return initMD5 !== MD5(editor.getValue());
        }

        $("#algo-new").on("click", function() {
            $('#fnew').submit();
        });
        $("#algo-remove").on("click", function() {
            if(confirm("Вы действительно хотите удалить этот файл?")) {
                $('#fremove').submit();
            }
        });

        function is_finished(status) {
            var _st = status.toLowerCase();
            return !_st || _st === "successfully_executed" || _st === "compilation_failed" || _st === "execution_failed";
        }

        {% if user.is_active %}
        function run(action) {
            var data = {
                id: {{ algo.id }}
            };
            if(action) {
                data.action = action;
            } else {
                // no need to run the same algo twice:
                if(!is_finished(_RUN.status)) data.action = "status";
            }

            $.post("{% url 'algo-run' %}", data, function(r) {
                if(r.data) {
                    var _item = r.data.info || r.data.message;
                    if(_item) {
                        $("#output").append("<p>"+ _item +"</p>");
                    }
                    /* uploaded successfully */
                    if(r.data.id) {
                        _RUN.id = r.data.id;
                        update();
                    } else if(r.data.status) {
                        if(_RUN.status !== r.data.status) {
                            _RUN.status = r.data.status;
                            $("#output").append("<p>"+ r.data.status +"</p>");
                        }
                        if(r.data.metrics && _RUN.metrics !== r.data.metrics) {
                            _RUN.metrics = r.data.metrics;
                            var _num = round(Number(r.data.metrics));
                            if(_num) {
                                $('#metrics').text(_num);
                            }
                        }

                        var _status = _RUN.status.toLowerCase();
                        if(_status === "successfully_executed") {
                            window.clearTimeout(_UPDATE);
                        } else if(_status === "compilation_failed" || _status === "execution_failed") {
                            window.clearTimeout(_UPDATE);
                            $("#output").append("<p>"+ r.data.errorTrace +"</p>");
                        }
                    } else if(r.data.error) {
                        $("#output").append("<p>"+ r.data.error +"</p>");
                    }
                }
            }, "json");
        }

        function update() {
            run("status");
            _UPDATE = window.setTimeout(update, 10000);
        }

        $('#algo-run').on("click", function() {run();});
        {% endif %}

        $('#name-input').on("keypress", function(e) {
            if(e.which === 13) {
                var _val = $(this).val();
                if(_val.length !== 0) {
                    $.post("{% url 'algo-change-name' %}", {
                        id: {{ algo.id }},
                        name: _val
                    }, function(data) {
                        if(data.ok) {
                            $('#name{{ algo.id }}').text(_val);
                        }
                    }, "json");
                }
            }
        });

        function autosave() {
            if(is_changed()) {
                var _text = editor.getValue();
                $.post("{% url 'algo-save' %}", {
                    id: {{ algo.id }},
                    text: _text
                }, function(data) {
                    initMD5 = MD5(_text);
                }, "json");
            }
            window.setTimeout(autosave, 2000);
        };
        window.setTimeout(autosave, 2000);
    });
</script>
{% endblock %}
